[ { haga
  , [ { port, 8080}         % port to listen to
    , { listener_count, 5}  % how many listeners needed? not many?
    ]
  }

, { lager
  , [ {log_root, "/tmp/haga"}
%    , {colored, true}
%    , {async_threshold, 200}
%    , {async_threshold_window, 5}
%    , {error_logger_hwm, 500}
    , { handlers,
        [ {lager_console_backend, [{level, info}]}
%      , [ { lager_console_backend
%            , {level, info}
  %          , [ debug
  %            , { lager_default_formatter
  %              , [ color
  %                , time
  %                , " ["
  %                , " "
  %                , pid
  %                , " ["
  %                , {module, ""}
  %                , ":"
  %                , {function, ""}
  %                , ":"
  %                , {line, ""}
  %                , "] "
  %                , message
  %                , "\e[0m\n"
  %                ]
  %              }
  %            ]
  %        }
        , {lager_file_backend, [{file, "error.log"}, {level, error}]}
        , {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]
      }
    ]
  }
].
